@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme{
    --font-Germania: "Germania One";
    --color-dnd: #ff1b22;
}
